<nav class="navbar  navbar-light"style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANsAAAB7CAMAAADKQQWcAAAAaVBMVEX
        ///8AAAD5+fmfn5/d3d2AgIANDQ2urq6kpKQ7OztHR0fGxsa8vLw3Nzfk5ORpaWlYWFhTU1NdXV1kZGR0dHTNzc1NTU16enq
        IiIiTk5MsLCxCQkLy8vKZmZknJyfX19ceHh4VFRV4d3zr2Te5AAAFu0lEQVR4nO2cC5uiLBiGdzJHwQNyCDHSdvf//8jvAW0OW82oG597dXHPlKYE3LyIWjP8+BGJRCKRx7Kr93Vd793T/88pqNqZUTsPugb9FVTzLqBd+fqy
        LXQfSq2uXl635SUN5ZZtHDXwGqpXGhYo49nUr6E6pRG7QDnP5fxSB8q5a6JbOKLbGqJbSKLbGnod9mr1e6LbGp7ZLYluAQnoRqNbOKLbGnK
        7tdshuq3gqd1IdAtHdFtDdAtJOLes2tqteAlVg+gWkui2hqd2Oz6vWxndAhLQbYhu4Yhuayh/RrdwRLc1lMH+AmIuT+32GuobwKd2C9Yj5lL8el63MrqtyXl7tyGUW7gReC7RbQ3RLSTlz1Buh+3djs
        /rlkW3FUS3kGRVdFtOuG+/5hLjtoZ/IG4kui0nuoUknFu4v4KbS2aj23KiW0gyGt2Ws71brp/YjUe35US3kCTB3Pabu
        /XB/gMvuoUknFu9uVu4/wqNbiHpgs16UL8+sduv53bbbUlIt0oZk97li12PANkbK4O5ka2nnXlhodxOevP5gkwgtR8Fn9zGNvy
        /fD6ShplT59Tpn8NxZBgqDzlWEwQ/7ndcrwiZFsStXXaMqRaD4iZ+DTQJ8J1Ewa0dtJxgjdccOJ5QNrHDkVTHo3tJjkdr
        /eKosYlgjx6Q6DiIwW0ekI976fe632kvH5vNZeWypJVvQ6xWDUOJQggpqoEc+fnBZrucWo1827ZVeBg2ToLGFaWsoVRxqlNOmxYv5fjAKm01Fcxaqaxmg
        lpjqVYaLyk2402NT8GRslHWKoHNjdZ4qRmnkqEESbluNGWm9Sh7JJTY/qEDSs2sprSqRDsOx4w2YpzIjUp48caSlmvdILbGwtFa0VLOG0oUc6msbQWSUUtTjd1oJ0O4284YknFKDCSEtjrFZiSTKI9zSElLoWtZZxytJgRNRh4ZupJbp0GISF0RHSrUoOaN12sQAoF6oaGthA2qi1haVNtSpilJJaIGecNdPCCvqZbaUkMpR3w5osldyFqUgUji7ZojZyb5BHojbUwHvbTxE
        +2hTfpHHXXdOAkfWl06t04QzfX7tH4Eda+IbQjRjBDLsaHFEIIl/W390rqloJX9jfZp0PgIgHVLxfEm7GOcVAgXkQJLZC0RL
        00vvyiNcNN3JhWXCQGpekjozsJO3Q8OMOvcQeCPNe1aVeMQcnMMcqu4rwj6lJQzJy4Uvkv66CsfLa5b9AiBh5I
        +fjjuXOhw2Dk5ibRjMDV9QOgyfekbKEp1fd93V7hgdqZPHHme+8ccfMqRJJtWMldEn/R9jiekwXIiTzolG4BOKhrB28PfmZ0M5e
        +ItvOVn2p+WaIKTjkrH0KWZLeBW8twJrggRPI3aoUb+97VWNrnbyW94/X6rHirXgFWuxVZfsct71IlP9Ko1aHb5eiGGA69Hh
        ZSmVttOgkeill49cn/vQ0+JbnjluV9qtxpnEk2IWW+7qirlW4uODXB2i7/1PE+llscHOPzhXm21/r3Atcbxf5
        AtmsGzNLH6h0hVdpnY3+b6vDe9bLyfDifJ6Xz29o6wcNtuTzpTXstx7OlodsZ/VmtkUyZye2qvmV52J/3+
        /PIflxbb3e4Hbaku+HGmEiXha5Wf0QNAy9zh1vxude91f7i9QdfqL313xttVSxxQ+yyJW5FUvQdLovxM9G2uCbpMO7fbtOP4
        +aH8RMnB5Ptb3LOprPbnZHjllxy6+zaZcmiyVqLbFeWxl89joyfWbSf8cpv9vco75SRoVr9Faj+/XP9bYpskdshP8HtmvTGtk/2N
        /gg3/rG8LcS7lKm67+v+De4dxbZko8aTvssT1sp3GHmr3HGC52vaebCxXgAN/6O0yNXg1EgL+sld3SQMwo3LpaEY8WnC1fgdkL15f607G51d6oPRemuOmZd9m4EriXO9W7Fffhudzqd3Kzz
        /y51vTBkV4r/MH8jFolEIt/yH59F+wsaDNgeAAAAAElFTkSuQmCC"
         alt="" width="30" height="24" class="d-inline-block align-text-top"style="display: inline;">
       AngulerLap1
      </a>
    </div>
  </nav>
<!-- <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Enter Data</label>
    <input type="text" class="form-control"placeholder="Enter data"  [ngModel]="data"  >
    
  <p>DATA:{{data}}</p>
  </div> -->
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Enter Data</label>
    <input type="text" class="form-control"placeholder="Enter data" (input)="getdata($event)"  >
    <br>
  <p>DATA:{{data}}</p>
  <button type="button" class="btn btn-danger" (click)="remove($event)" >Rsete</button>
  </div>
  <br>
  